# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Install DOLFINx (without gmsh)
        run: conda create -n wout_gmsh -c conda-forge python=3.10 fenics-dolfinx mpich
        
      - name: Test DOLFINx (without gmsh)
        run: conda run -n wout_gmsh python -c "import dolfinx;"

      #- name: Install DOLFINx (with gmsh)
      #  run: conda create -n w_gmsh -c conda-forge python=3.10 fenics-dolfinx mpich python-gmsh
        
      #- name: Test DOLFINx (with gmsh)
      #  run: conda run -n w_gmsh python -c "import dolfinx;"

      - name: Install DOLFINx (with gmsh alt)
        run: |
          conda create -n w_gmsh_alt -c conda-forge python=3.10 fenics-dolfinx mpich gmsh
          conda activate w_gmsh_alt
          pip install gmsh
          conda deactivate
        
      - name: Test DOLFINx (with gmsh alt)
        run: conda run -n w_gmsh_alt python -c "import dolfinx; import gmsh;"
